# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts



#env
.env.local
/analysis/.env



#folder
/csv


#python
/analysis/tester.ipynb
/analysis/tester.py
/analysis/data/deft-cove-493201-s4-db47c88b6ce1.json
/analysis/data/upbeat-button-487617-j0-e0520fb97469.json